@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
   .font-outline {
    -webkit-text-stroke: 1px rgb(242, 14, 14);
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px ;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.button-primary{
  @apply uppercase bg-[#F20E0E] px-10 py-3 text-white hover:bg-red-600 hover:duration-300 text-xs
}

.band {
  @apply bg-gray-900 flex justify-between items-center py-3 px-5
}

.band span {
  @apply flex items-center text-white text-sm capitalize 
}

.band a {
  @apply hover:text-[#F20E0E] duration-300 
}

.band p {
  @apply px-5
}

.band h1{
  @apply pl-2
}

.header{
  @apply justify-between items-center flex
}

.header span{
  @apply flex items-center justify-between text-white space-x-12
}

.header span a {
  @apply hover:text-[#F20E0E] duration-300 hover:underline hover:underline-offset-4 tracking-wider
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
