@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
   .font-outline {
    -webkit-text-stroke: 1px rgb(242, 14, 14);
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px ;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.button-primary{
  @apply uppercase bg-[#F20E0E] px-10 py-3 text-white border-transparent duration-300 text-xs hover:-skew-x-12 border-t-4 border-l-4 hover:border-gray-300
}

.band {
  @apply bg-gray-900 flex justify-between items-center py-3 px-5
}

.band span {
  @apply flex items-center text-white text-sm capitalize 
}

.band a {
  @apply hover:text-[#F20E0E] duration-300 
}

.band p {
  @apply px-5
}

.band h1{
  @apply pl-2
}

.header{
  @apply justify-between items-center flex
}

.header span{
  @apply flex items-center justify-between text-white space-x-12
}

.header span a {
  @apply hover:text-[#F20E0E] duration-300 hover:underline hover:underline-offset-4 tracking-wider
}

.marquee{
  @apply relative flex overflow-x-hidden items-center bg-[#F20E0E] 
}

.marquee span{
  @apply mx-8 text-4xl font-semibold uppercase text-white 
}

.marquee div{
  @apply text-transparent py-3 whitespace-nowrap 
}

.hero-text{
  @apply text-right font-body
}
.hero-text span {
  @apply text-7xl text-transparent bg-clip-text uppercase font-bold
}

.hero-text p{
  @apply text-white text-xl 
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
